.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background-color: rgb(6, 10, 33);
  padding: 20px;
  border-radius: 12px;
  width: 450px;
  max-width: 90%;
  text-align: center;
}

.modal-content input,
.modal-content textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid #e6aaaa;
  border-radius: 4px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
}

.modal-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.modal-buttons button:first-child {
  background-color: #c61212;
}

.modal-buttons button:last-child {
  background-color: #1780b8;
  color: white;
  
}
