.dashboard-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 25%;
  background-color: #01021e;
  padding: 20px;
}

.main-content {
  width: 75%;
  padding: 20px;
}

.profile-section {
  text-align: center;
}

.profile-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.buttons {
  margin-top: 20px;
  border-radius: 20px;
}

.create-blog-btn, .logout-btn {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.create-blog-btn {
  background-color: #1780b8;
  color: white;
}

.logout-btn {
  background-color: #d9534f;
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #3f2e2e;
  color: rgb(48, 120, 176);
}

th, td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}