header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo img {
  height: 5rem;
  width: auto;
  border: 1px solid rgb(252, 252, 252);
  border-radius: 50%;
}

.login-btn {
  background-color: #1780b8;
  border-radius: 30px;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1.2em;
}

.profile-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #1780b8;
  color: white;
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: bold;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 3px 0;
  transition: 0.4s;
}

@media screen and (max-width: 768px) {
  header {
    flex-wrap: wrap;
  }

  .hamburger {
    display: flex;
    order: 2;
  }

  nav {
    display: none;
    width: 100%;
    order: 3;
    margin-top: 10px;
  }

  nav.open {
    display: flex;
    justify-content: center;
  }

  .login-btn, .user-profile {
    margin: 10px 0;
  }
}

@media screen and (max-width: 480px) {
  .logo img {
    height: 3rem;
  }

  .login-btn {
    font-size: 1em;
    padding: 8px 16px;
  }

  .profile-icon {
    width: 32px;
    height: 32px;
    font-size: 1.2rem;
  }
}