.quiz-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #01021a;
  }
  
  /* .cybersecurity-intro, */
  .quiz-container {
    max-width: 800px;
    width: 100%;
    background-color: none;
    border-radius: 15px;
    overflow: hidden;
    padding: 2rem;
    height: fit-content;
    margin-bottom: 2rem;
  }
  
  .quiz-content {
    max-height: 100vh;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }
  h1, h2 {
    color: #d0cccc;
    text-align: center;
    margin-bottom: 1rem;
  }
  .cybersecurity-intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    margin: 20px auto;
    flex-direction: column;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
  }
  .cybersecurity-intro h2{
    font-size: 60px;
    padding-bottom: 38px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .intro-content {
    flex: 1;
    padding-right: 2rem;
  }
  .intro-content {
    flex: 1;
    padding-right: 2rem;
  }
  
  
  p {
    color: #e4e1e1;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 1.5rem;
    line-height: 1.9;
  }
  .quiz-content p{
    margin-bottom: -1.5rem;
  }
  .score{
    margin-top: -24px;
  }
  
  .start-quiz-btn {
    background-color: #4CAF50;
    color: white;
    padding: 15px 10px;
    font-size: 1.2rem;
    border: none;
    margin-top: 27px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    width: 150px;
    /* animation: float 2.5s ease-in-out infinite */
  }
  
  .start-quiz-btn:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.6s ease-out;
  }
  
  .start-quiz-btn:hover:before {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .start-quiz-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
  }
  
  .score {
    margin-top: 2rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    color: #fffafa;
    margin-top: -26px;
  }
  .react-quiz-container .selection-tag{
    display: none;
  }
  
  .error-message, .loading-message {
    text-align: center;
    font-size: 1.2rem;
    color: #333;
    margin-top: 2rem;
  }
  
  .startQuizWrapper {
    margin-bottom: 1rem;
    position: relative;
    width: 100px;
    margin-left: 0px;
  }
  .questionWrapperBody h3{
    color: white;
  
  }
  .react-quiz-container h2 {
    display: none;
  }
  .react-quiz-container > div > div:nth-child(2) {
    display: none;
  }
  
  .quiz-synopsis{
    display: none;
  
  }
  
  .react-quiz-container .btn {
    background-color: #4CAF50;
    color: rgb(7, 7, 7);
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* transition: background-color 0.3s; */
  }
  
  .react-quiz-container .btn:hover {
    background-color: #45a049;
  }
  
  .react-quiz-container .questionWrapper {
    /* background-color: rgb(243, 243, 243); */
    padding: 1rem;
    margin-top: 25px;
    border-radius: 10px;
    margin-bottom: 1rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  .quiz-content h1{
    color: #4CAF50;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  
  .react-quiz-container .answerBtn {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin: 5px 0;
    padding: 10px;
    border-radius: 60px;
    transition: background-color 0.3s;
  }
  
  .react-quiz-container .answerBtn:hover {
    background-color: #e9e9e9;
  }
  
  .react-quiz-container .singleselection-tag {
    display: none;
  }
  
  .tag-container {
    display: inline;
  }
  
  /* Custom scrollbar styles */
  .quiz-content::-webkit-scrollbar {
    width: 1px;
  }
  
  
  h3{
    color: black;
  }
  
  @media (max-width: 768px) {
    .cybersecurity-intro {
      flex-direction: column;
    }
  
    .intro-content {
      padding-right: 0;
      padding-bottom: 2rem;
    }
  }
  .quizimg{
    animation: float 3.5s ease-in-out infinite;
    filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.7));
    transition: box-shadow 0.3s ease-in-out;
    transform-style: preserve-3d;
  }
  
  .parent-container {
    perspective: 1000px;
  }
  @keyframes rotate3d {
    0% {
      transform: rotate3d(0, 1, 0, 0deg);
    }
    100% {
      transform: rotate3d(0, 1, 0, 360deg);
    }
  }
  @keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-50px);
    }
    100% {
      transform: translateY(0px);
    }
  }


  @media screen and (max-width: 768px) {
    .quiz-section {
      flex-direction: column;
      padding: 1rem;
    }
  
    .cybersecurity-intro {
      padding: 1rem;
    }
  
    .cybersecurity-intro h2 {
      font-size: 40px;
      padding-bottom: 20px;
    }
  
    .quiz-container {
      padding: 1rem;
    }
  
    .quizimg {
      max-width: 100%;
      height: auto;
    }
  
    .start-quiz-btn {
      width: 100%;
      max-width: 200px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .cybersecurity-intro h2 {
      font-size: 30px;
    }
  
    p {
      font-size: 14px;
    }
  
    .start-quiz-btn {
      font-size: 1rem;
      padding: 10px 5px;
    }
  
    .quiz-content h1 {
      font-size: 24px;
    }
  
    .react-quiz-container .answerBtn {
      font-size: 14px;
    }
  }
  